flows.json
[
    {
        "id": "f960d075ceb8a01b",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd1b5163451ffb15",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "nodeRedClient",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aaa7419957a67e19",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "9e52782d5f815611",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "aaa7419957a67e19",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "hivemq-broker",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tab-dashboard",
        "type": "ui_tab",
        "name": "Monitoramento Ambiental",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group-sensors",
        "type": "ui_group",
        "name": "Sensores IoT",
        "tab": "tab-dashboard",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "45988ce9689b191a",
        "type": "mqtt in",
        "z": "f960d075ceb8a01b",
        "name": "Temp",
        "topic": "iotfrontier/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "7a81a070d6f9edbe",
                "237fab09d780cd46",
                "ec8af6f20f27b2ea"
            ]
        ]
    },
    {
        "id": "1034b194895ed7d3",
        "type": "mqtt in",
        "z": "f960d075ceb8a01b",
        "name": "Umidade",
        "topic": "iotfrontier/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7a81a070d6f9edbe",
                "64d2ea5d4d5d48df",
                "d77c5cc6bce21844"
            ]
        ]
    },
    {
        "id": "9433a1c5eee70ef2",
        "type": "mqtt in",
        "z": "f960d075ceb8a01b",
        "name": "Chuva",
        "topic": "iotfrontier/rain",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7a81a070d6f9edbe",
                "5f4ab18f198a7378"
            ]
        ]
    },
    {
        "id": "7a81a070d6f9edbe",
        "type": "function",
        "z": "f960d075ceb8a01b",
        "name": "Verifica Alertas",
        "func": "const val = parseFloat(msg.payload);\nconst topic = msg.topic;\n\nlet state = context.get(\"alert\") || {\n    led_temp: false,\n    led_humid: false,\n    led_rain: false,\n    sound: false\n};\n\nstate.sound = false; // resetar som por padrão\n\nif (topic.includes(\"temperature\")) {\n    state.led_temp = val > 30;\n    if (val > 30) state.sound = true;\n}\n\nif (topic.includes(\"humidity\")) {\n    state.led_humid = val > 70;\n}\n\nif (topic.includes(\"rain\")) {\n    state.led_rain = val < 1500;\n    if (val < 1500) state.sound = true;\n}\n\ncontext.set(\"alert\", state);\nreturn { payload: state };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "72bbc16da3e11ecc",
                "265521df48170421"
            ]
        ]
    },
    {
        "id": "72bbc16da3e11ecc",
        "type": "ui_template",
        "z": "f960d075ceb8a01b",
        "group": "9e52782d5f815611",
        "name": "LEDs",
        "order": 4,
        "width": 6,
        "height": 1,
        "format": "<div>\n    <span style=\"color: {{msg.payload.led_temp ? 'red' : 'gray'}}\">● Temp</span> |\n    <span style=\"color: {{msg.payload.led_humid ? 'blue' : 'gray'}}\">● Umidade</span> |\n    <span style=\"color: {{msg.payload.led_rain ? 'green' : 'gray'}}\">● Chuva</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "265521df48170421",
        "type": "ui_template",
        "z": "f960d075ceb8a01b",
        "group": "9e52782d5f815611",
        "name": "Som de Alerta",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<audio id=\"alerta\" src=\"https://actions.google.com/sounds/v1/alarms/beep_short.ogg\"></audio>\n<button onclick=\"document.getElementById('alerta').play()\">🔊 Ativar som</button>\n<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data && data.sound) {\n            const audio = document.getElementById('alerta');\n            audio.currentTime = 0;\n            audio.play();\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "237fab09d780cd46",
        "type": "ui_gauge",
        "z": "f960d075ceb8a01b",
        "name": "Gauge Temp",
        "group": "9e52782d5f815611",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#e51f1f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "64d2ea5d4d5d48df",
        "type": "ui_gauge",
        "z": "f960d075ceb8a01b",
        "name": "Gauge Umidade",
        "group": "9e52782d5f815611",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#4479ff",
            "#00b500",
            "#ff8000"
        ],
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec8af6f20f27b2ea",
        "type": "ui_chart",
        "z": "f960d075ceb8a01b",
        "name": "Gráfico Temp",
        "group": "9e52782d5f815611",
        "order": 6,
        "width": 6,
        "height": 3,
        "label": "Histórico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#FF0000"
        ],
        "outputs": 1,
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d77c5cc6bce21844",
        "type": "ui_chart",
        "z": "f960d075ceb8a01b",
        "name": "Gráfico Umidade",
        "group": "9e52782d5f815611",
        "order": 7,
        "width": 6,
        "height": 3,
        "label": "Histórico Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0000FF"
        ],
        "outputs": 1,
        "x": 560,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5f4ab18f198a7378",
        "type": "ui_chart",
        "z": "f960d075ceb8a01b",
        "name": "Gráfico Chuva",
        "group": "9e52782d5f815611",
        "order": 8,
        "width": 6,
        "height": 3,
        "label": "Histórico Nível de Chuva",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#00aaff"
        ],
        "outputs": 1,
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2dcdc95e3cdcd0e2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]